<div class="logo" align="center" ng-controller='TradeworkerController'>
    <br>
    <img src="../../image/logo.gif"  width="220px" align="center" >
    <hr class="omb_hrOr">
  </div>
   <div class="container">
    <form class="well form-horizontal" action=" " method="post"  id="contact_form" >
    <fieldset>
<!-- Form Name -->
<legend><center><h2><b>Trade Worker Registration Form</b></h2></center></legend><br>
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label"  
     value="{tradeworkers.username}">User Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input ng-model='tradeworkers.username' name="username" placeholder="User Name" class="form-control"  type="text">
    </div>
  </div>
</div>
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Place</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
  <input  name="place" placeholder="Place" class="form-control"  type="text" ng-model='tradeworkers.place'>
    </div>
  </div>
</div>

<!-- Text input-->
  <div class="form-group"> 
  <label class="col-md-4 control-label">Service</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="service" class="form-control selectpicker" ng-model='tradeworkers.service'>
      <option value="">Select your Service</option>
      <option>Carpenter</option>
      <option>Smith</option>
      <option >Electricity technician</option>
      <option >Plumber</option>
      <option >Painter</option>
      
    </select>
  </div>
</div>
</div>
  
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >Experiance</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-indent-left"></i></span>
  <input  name="experiance" placeholder="Experiance" class="form-control"  type="text" ng-model='tradeworkers.experiance'>
    </div>
  </div>
</div>

<!-- Text input-->


<div class="form-group">
  <label class="col-md-4 control-label"  >E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input ng-model='tradeworkers.email' name="email" placeholder="E-Mail Address" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label" >Contact No.</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input ng-model='tradeworkers.phone' name="contact_no" placeholder="(962)" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- <div class="form-group">
  <label class="col-md-4 control-label" >Talk about your self</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input ng-model='tradeworkers.comment' name="contact_no" placeholder="(962)" class="form-control" type="text">
    </div>
  </div>
</div> -->
<!-- Select Basic --> 

<!-- Button -->
<div class="form-group" >
  <label class="col-md-4 control-label"></label>

  <div class="col-md-4">
    <button ng-click="addTradeworker()" class="btn btn-lg btn-primary btn-block" >SUBMIT <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->

